<article class="page-wrapper">

    <app-go-to path="/portfolio/video-games" text="Retour à la liste des projets."></app-go-to>

    <h1>The Last Judgment</h1>

    <div class="content">
        <div class="miniature">
            <img src="assets/miniatures/the-last-judgment.jpeg" alt="The Last Judgment">
            <a href="https://augustin-janvier.itch.io/the-last-judgment" target="_blank">
                <span class="secondary">Jouer</span>
            </a>
        </div>
        <div class="bloc">
            <h2>Description</h2>
            <p>
                Bienvenue dans The Last Judgment (en français : Le dernier jugement).
            </p>
            <p>
                The Last Judgment est un petit jeu de cartes dans lequel vous êtes responsable du purgatoire : c'est à vous que revient la lourde tâche d'orienter les âmes des défunts vers l'enfer ou le paradis.
            </p>
            <p>
                Pour ce faire, effectuez des combinaisons de 3 cartes, qui détermineront la sentance du pauvre bonhomme qui vous fait face. Découvrez les différentes combinaisons de carte, vous pouvez vous aider du tutoriel en jeu afin d'avoir quelques bases.
            </p>
            <p>
                L'objectif est d'obtenir le plus haut score en jugeant 20 âmes. Mais attention, choisissez votre camp : les bons ou les méchants. Car plus vous êtes bons, plus votre score augmente, mais diminuera si vous êtes mauvais, et inversement !
            </p>
        </div>
    </div>

    <div class="bloc">
        <h2>Réalisation</h2>
        <p>
            Ce jeu a été réalisé lors de la <a href="https://itch.io/jam/mini-jam-69-hell" target="_blank">Mini Jam 69</a> fin 2020.
        </p>
        <p>Nous avions 72 heures pour réaliser un jeu sur le thème "Hell", avec la contrainte "Cards must be a mechanic".</p>

        <p>J'ai réalisé ce jeu avec le moteur de jeu Unity 3D (code en C#). J'ai dessiné les graphismes en pixel art avec Aseprite. La musique et les effets sonnores sont aussi de ma création, avec Ableton.</p>
        <p>Créer ce jeu était un véritable challenge car je n'avais que 3 jours pour implémenter la mécanique du jeu de cartes, les graphismes et le son. Le résultat est plutôt réussi selon moi, malgré les règles du jeu un peu floues d'après les retours.</p>
        <p>C'est également la première fois que quelqu'un réalise une vidéo de gameplay sur une de mes créations ! Un participant de la game jam avait choisi de jouer, filmer et commenter les différents jeux de l'événement, il y a donc une vidéo dédiée à The Last Judgment que vous pouvez retrouver ci dessous.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xl6r7ADb-jg?si=gwc3j6l6TinpTH1N"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="bloc">
        <h2>Jouer</h2>
        <ul>
            <li>Allez sur la <a href="https://augustin-janvier.itch.io/the-last-judgment" target="_blank">page itch.io du
                    jeu</a>.</li>
            <li>Dans la section "Download", vous pouvez choisir le téléchargement Windows, Linux ou Mac.</li>
            <li>Une fois le jeu téléchargé, dézippez l'archive où vous le souhaitez.</li>
            <li>Lancez le fichier exécutable "The Last Judgment".</li>
        </ul>
    </div>

    <div class="bloc">
        <h2>Captures d'écran</h2>

        <div class="screenshots">
            <a href="assets/screenshots/the-last-judgment-screenshot.jpeg" target="_blank">
                <img src="assets/screenshots/the-last-judgment-screenshot.jpeg" alt="The Last Judgment Screenshot">
            </a>
        </div>
    </div>
    <app-go-to path="/portfolio/video-games" text="Retour à la liste des projets."></app-go-to>

</article>