:root {
  --main-color: rgb(199, 152, 0);
  --second-color: rgb(218, 80, 0);
  --background-color: #faf8db;
  --footer-background-color: #ffe284;
}

body {
  margin: 0;
}

.divider {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  opacity: 0.5;
}

/* --------- Bannière --------- */

.banniere {
  background-image: url("./Assets/lowpolybackground.jpg");
  background-size: cover;
  display: flex;
}

.banniere-title-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.banniere-title {
  font-size: 50px;
  position: absolute;
  bottom: 0;
}

.profile-photo {
  height: 200px;
  padding: 20px;
  border-radius: 50%;
  display: inline-block;
}

/* --------- Footer --------- */

footer {
  width: 100%;
  background-color: var(--footer-background-color);
  position:fixed;
  bottom:0;
}

.footer-links-list {
  padding: 10px;
}

.footer-link {
  padding-left: 10px;
  padding-right: 10px;
}

.footer-icon {
  height: 20px;
  margin-right: 5px;
}

.footer-bottom {
  text-align: center;
  margin: 5px;
}