.timeline {
    display: flex;
    flex-direction: column;
}

.segment {
    display: flex;
    justify-content:center;
    height: 150px;
    .line {
        width: 10%;
        max-width: 10px;
        &.primary {
            background-color: var(--primary);
        }

        &.secondary {
            background-color: var(--secondary);
        }

        &.tertiary {
            background-color: var(--tertiary);
        }

        &.start {
            border-radius: 32px 32px 0 0;
        }

        &.end {
            border-radius: 0 0 32px 32px;
        }
    }
    
    .left, .right {
        width: 45%;
        .title {
            padding: 0 8px;
            display: flex;
            align-items: center;
            h3 {
                padding: 0 16px;
                margin: 0;
            }
            img {
                width: 30px;
            }
        }
        .divider {
            height: 2px;
            &.primary {
                background-color: var(--primary);
            }

            &.secondary {
                background-color: var(--secondary);
            }

            &.tertiary {
                background-color: var(--tertiary);
            }
        }
        p {
            margin: 8px;
        }
        
    }
}