<div class="timeline">

    <div class="horizontal-lines">
        <div class="horizontal-line"></div>
        <div class="horizontal-line primary bottom-left-corner top-left-corner top-right-corner"></div>
    </div>
    
    <div class="segment">
        <div class="left">
            <div class="title">
                <img src="assets/icons/degree.svg" class="primary-filter" />
                <h3 class="primary">Diplôme d'ingénieur à l'INSA Rennes</h3>
            </div>
            <div class="divider primary"></div>
            <p>En 2016, mon baccalauréat scientifique obtenu avec mention très bien, je rejoins l'INSA Rennes (Institut
                National des Sciences Appliquées), une école d'ingénieur publique et réputée en France.</p>
            <p>Les 2 premières années sont généralistes : physique, chimie, mathématiques, mécanique... Je rejoins ensuite
                le département informatique de l'école pour les 3 dernières années.</p>
            <p>Au programme, l'apprentissage de nombreux langages de programmation (Java, C#, python, C, C++, Javascript,
                HTML, CSS, SQL...), des concepts théoriques (théorie des graphes, machine learning, modèles de langage...)
                ainsi que de nombreux projets (Développement mobile, robotique, application Angular, réseaux de neurones,
                réalité virtuelle...)</p>
            <p>En 2021, j'obtiens mon diplôme d'ingénieur spécialisé en informatique. Grâce à mes études, j'entre dans le
                monde du travail avec
                des connaissances variées et un interêt particulier pour le développement logiciel.</p>
        </div>
        <div class="line primary"></div>
    </div>

    <div class="horizontal-lines">
        <div class="horizontal-line secondary top-left-corner"></div>
        <div class="horizontal-line primary bottom-right-corner"></div>
    </div>
    
    <div class="segment">
        <div class="line secondary"></div>
        <div class="right">
            <div class="title">
                <img src="assets/icons/degree.svg" class="secondary-filter" />
                <h3 class="secondary">Stage de fin d'études : simulations dans un environnement 3D</h3>
            </div>
            <div class="divider secondary"></div>
            <p>A la fin de ma 5ème année d'études d'ingénieur, je réalise mon stage de fin d'études d'une durée de 6 mois chez IT
                Link à Rennes.</p>
            <p>Le sujet de mon stage est la refonte d'une application de simulation de performance balistique dans un environnement
                3D. La mission est orientée R&D, avec des phases de recherche et des phases de prototypage.</p>
            <p>Je réalise différents travaux avec les moteurs Unity 3D (C#) et Unreal Engine (C++). Au total, je produis 4
                prototypes, centrés sur les simulations physiques avec collisions, la génération de terrain à partir de données
                géospatiales, et l'optimisation des performances.</p>
        </div>
    </div>

    <div class="horizontal-lines">
        <div class="horizontal-line secondary bottom-left-corner"></div>
        <div class="horizontal-line tertiary top-right-corner"></div>
    </div>
    
    <div class="segment">
        <div class="left">
            <div class="title">
                <img src="assets/icons/truck.svg" class="tertiary-filter" />
                <h3 class="tertiary">Développeur Web chez Scania</h3>
            </div>
            <div class="divider tertiary"></div>
            <p>En 2022, je décroche mon premier CDI chez AIS, une entreprise de prestations d'une centaine d'emplyés basée à
                Nantes. Je suis recruté pour une mission chez Scania à Angers, le siège français du géant de l'automobile
                poids lourd.</p>
            <p>Durant cette période, je travaille à plein temps sur site. Je développe des applications web au sein du
                service informatique de Scania IT France, dans une équipe de 10 personnes.</p>
            <p>Je travaille en collaboration avec les autres développeurs, administrateurs système et le chef de projet afin
                de développer pour la branche commerciale de Scania France.</p>
            <p>Durant cette expérience, mes missions sont de maintenir et améliorer les applications existantes, ainsi que
                de développer de nouveaux projets de zéro. Il s'agit principalement d'applications web de gestion de
                contrats, factures, clients, type CRM.</p>
            <p>En 1 an et demi, je deviens autonome sur le développement frontend avec Angular, ainsi que le développement
                backend (API) avec .NET (C#) et python Flask.</p>
            <p>Au bout d'1 an et demi et après avoir passé une très bonne première expérience, je quitte Scania et AIS pour
                d'autres projets.</p>
        </div>
        <div class="line tertiary"></div>
    </div>

    <div class="horizontal-lines">
        <div class="horizontal-line primary top-left-corner"></div>
        <div class="horizontal-line tertiary bottom-right-corner"></div>
    </div>

    <div class="segment">
        <div class="line primary"></div>
        <div class="right">
            <div class="title">
                <img src="assets/icons/mobile-programming.svg" class="primary-filter" />
                <h3 class="primary">Développeur Web & Mobile Freelance</h3>
            </div>
            <div class="divider primary"></div>
            <p>Début 2024, après avoir quitté mon CDI, je pars au Vietnam pour une durée de 6 mois. Je créé mon statut d'auto-entrepreneur et je me lance à mon compte, afin de pouvoir travailler depuis l'étranger malgré le décallage horaire.</p>
            <p>Je débute ma première mission en tant de freelance : la réalition du frontend complet d'une application mobile de gestion d'un chauffe-eau connecté, avec Angular et Ionic.</p>
            <p>En 2 mois, je développe l'application à partir d'une maquette Figma en collaboration avec le client. Nous fonctionnons par sprints réguliers avec des points hebdomadaires, ce qui permet d'être flexible et réactif tout en permettant au client de suivre l'avancée du développement.</p>
        </div>
    </div>

    <div class="horizontal-lines">
        <div class="horizontal-line primary bottom-left-corner top-right-corner bottom-right-corner"></div>
        <div class="horizontal-line"></div>
    </div>
</div>