.timeline {
    display: flex;
    flex-direction: column;
}

.segment {
    display: flex;
    justify-content:center;
    min-height: 150px;
    .line {
        min-width: 10px;
        max-width: 10px;
        &.primary {
            background-color: var(--primary);
        }

        &.secondary {
            background-color: var(--secondary);
        }

        &.tertiary {
            background-color: var(--tertiary);
        }

        &.start {
            border-radius: 32px 32px 0 0;
        }

        &.end {
            border-radius: 0 0 32px 32px;
        }
    }
    
    .left, .right {
        padding: 16px 32px 32px 32px;
        // padding-bottom: 32px;
        // padding-top: 8px;
        width: 100%;
        .title {
            padding: 0 8px;
            display: flex;
            align-items: center;
            h3 {
                padding: 0 16px;
                margin: 0;
            }
            img {
                width: 30px;
            }
        }
        .divider {
            margin: 16px 0;
            height: 2px;
            &.primary {
                background-color: var(--primary);
            }

            &.secondary {
                background-color: var(--secondary);
            }

            &.tertiary {
                background-color: var(--tertiary);
            }
        }
        p {
            margin: 8px;
            text-align: justify;
        }
        
    }
}

.horizontal-lines {
    display: flex;
}

.horizontal-line {
    height: 10px;
    width: 100%;
    &.primary {
        background-color: var(--primary);
    }

    &.secondary {
        background-color: var(--secondary);
    }

    &.tertiary {
        background-color: var(--tertiary);
    }

    &.top-left-corner {
        border-top-left-radius: 16px;
    }
    &.top-right-corner {
        border-top-right-radius: 16px;
    }
    &.bottom-right-corner {
        border-bottom-right-radius: 16px;
    }
    &.bottom-left-corner {
        border-bottom-left-radius: 16px;
    }
    
}
