<div class="timeline">
    <div class="segment">
        <div class="left">
            <h2 class="primary">Lorem Ipsum</h2>
            <div class="divider primary"></div>
            <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
        </div>
        <div class="line primary start"></div>
        <div class="right"></div>
    </div>
    <div class="segment">
        <div class="left"></div>
        <div class="line secondary"></div>
        <div class="right">
            <h2 class="secondary">Lorem Ipsum</h2>
            <div class="divider secondary"></div>
            <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
        </div>
    </div>
    <div class="segment">
        <div class="left">
            <h2 class="tertiary">Lorem Ipsum</h2>
            <div class="divider tertiary"></div>
            <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
        </div>
        <div class="line tertiary end"></div>
        <div class="right"></div>
    </div>
</div>