<article class="page-wrapper">

    <button [routerLink]="['/portfolio/video-games']" routerLinkActive="router-link-active">Retour à la liste des
        projets</button>

    <h1>Space Shooter</h1>

    <div class="content">
        <div class="miniature">
            <img src="assets/miniatures/space-shooter.jpeg" alt="Duck Business">
            <a href="https://augustin-janvier.itch.io/space-shooter" target="_blank">
                <span class="secondary">Jouer</span>
            </a>
        </div>
        <div class="bloc">
            <h2>Description</h2>
            <p>
                Bienvenue dans Space Shooter.
            </p>
            <p>Essayez de survivre aux vagues d'aliens qui foncent droit sur vous, et ne vous faites pas tirer dessus. A bord de votre vaisseau, réalisez le meilleur score !</p>
            <p>Eliminez les yeux extraterrestres afin de vous frayer un passage et survivre le plus longtemps possible.</p>
            <p>Utilisez les touches AWSD afin de déplacer le vaisseau, orientez le vaisseau et tirez avec le clic de la souris !</p>
            <p><i>Note pour les utilisateurs de clavier AZERTY : Pour pouvoir utiliser des touches plus classiques (ZQSD), vous pouvez changer la langue de votre clavier, le plus souvent avec le raccourci Alt + Shift.</i></p>
        </div>
    </div>

    <div class="bloc">
        <h2>Réalisation</h2>
        <p>
            Ce jeu a été réalisé lors de la <a href="https://itch.io/jam/untitled-game-jam-38" target="_blank">Untitled Game Jam
                #38</a> en 2020.
        </p>
        <p>Nous avions 10 jours pour créer un jeu sur le thème "Minimalism", 23 personnes ont participé. Le nombre de participants n'ayant pas été assez conséquent, les jeux n'ont pas été notés. Malgré les 10 jours disponibles, de mon côté je n'ai pu travailler seulement 3 jours sur ce jeu, ce qui m'a tout de même permis de réaliser un jeu d'arcade fonctionnel.</p>

        <p>J'ai réalisé ce jeu avec le moteur de jeu Unity 3D (code en C#). J'ai dessiné les graphismes moi même avec le logiciel de dessin vectoriel Affinity Designer, afin de tester ce style graphique minimaliste et épuré pour être dans le thème.</p>
        <p>La musique a été réalisée par mes soins avec le logiciel Ableton, et les effets sonnores sont directement issus de ma bouche ! J'avais reçu un nouveau micro pour mon anniversaire...</p>
        <p>Ce jeu m'a permis d'expérimenter avec les effets de lumière dans un environnement 2D.</p>
    </div>

    <div class="bloc">
        <h2>Jouer</h2>
        <ul>
            <li>Allez sur la <a href="https://augustin-janvier.itch.io/space-shooter" target="_blank">page itch.io du
                    jeu</a>.</li>
            <li>Dans la section "Download", vous pouvez choisir le téléchargement Windows, Linux ou Mac.</li>
            <li>Une fois le jeu téléchargé, dézippez l'archive où vous le souhaitez.</li>
            <li>Lancez le fichier exécutable "Space Shooter".</li>
        </ul>
    </div>

    <div class="bloc">
        <h2>Captures d'écran</h2>

        <div class="screenshots">
            <a href="assets/screenshots/space-shooter-screenshot.jpeg" target="_blank">
                <img src="assets/screenshots/space-shooter-screenshot.jpeg" alt="Space Shooter Screenshot">
            </a>
        </div>
    </div>
    
    <button [routerLink]="['/portfolio/video-games']" routerLinkActive="router-link-active">Retour à la liste des
        projets</button>

</article>