h1 {
    text-align: center;
    font-size: 32px;
    color: var(--primary);
    text-shadow: 3px 3px var(--secondary);
}

.bloc {
    width: 100%;
}

.content {
    display: flex;
    column-gap: 32px;
    width: 100%;
    @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
    }
}

.miniature {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;

    img {
        width: 100%;
        border-radius: 32px;
        border: 5px solid var(--primary);
    }
}

.screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 16px;

    img {
        padding: 4px;
        background-color: var(--primary);
        width: 300px;
        transition: 0.3s;

        &:hover {
            background-color: var(--secondary);
        }
    }
}