<div class="page-wrapper">
    <h2>Portfolio</h2>

    <nav>
        <a [routerLink]="['applications']" routerLinkActive="router-link-active" [class.selected] = "router.url.split('/').pop() === 'applications'">Applications</a>
        <a [routerLink]="['video-games']" routerLinkActive="router-link-active" [class.selected] = "router.url.split('/').pop() === 'video-games'">Jeux vidéos</a>
        <a [routerLink]="['divers']" routerLinkActive="router-link-active" [class.selected]="router.url.split('/').pop() === 'divers'">Autre</a>
    </nav>
    
    <router-outlet></router-outlet>
    
</div>