nav {
    display: flex;
    justify-content: space-around;
    column-gap: 32px;
    min-height: 32px;
    a {
        color: var(--secondary);
        transition: 0.3s;
        &:hover {
            color: var(--primary);
        }
        text-decoration: none;
        font-family: 'comico';
        &.selected {
            color: var(--tertiary);
            font-size: 18px;
        }
    }
}