<article class="page-wrapper">

    <app-go-to path="/portfolio/video-games" text="Retour à la liste des projets."></app-go-to>

    <h1>Up To Heaven</h1>

    <div class="content">
        <div class="miniature">
            <img src="assets/miniatures/up-to-heaven.jpeg" alt="Up To Heaven">
            <a href="https://augustin-janvier.itch.io/up-to-heaven" target="_blank">
                <span class="secondary">Jouer</span>
            </a>
        </div>
        <div class="bloc">
            <h2>Description</h2>
            <p>
                Bienvenue dans Up To Heaven (en français : En haut vers le paradis).
            </p>
            <p>
                Pourquoi le diable n'aurait-il pas le droit d'accéder à la vie éternelle en rejoignant le paradis ? Vous êtes fatigué de votre existance douloureuse qui n'en finit jamais et avez décidé que vous aussi vous avez le droit de vous asseoir au paradis, même si vous êtes le diable !
            </p>
            <p>
                Entreprenez votre ascension vers le paradis en faisant tomber des blocs de différente forme afin de réaliser une pile qui vous permettra de grimper jusqu'au dieu qui vous attend au sommet !
            </p>
            <p>Contrôles : cliquez dans la zone au dessus de la plateforme aérienne afin de faire apparaître un bloc aléatoire. Répétez l'opération autant de fois que nécessaire pour l'emporter ! Vous pouvez également consulter le tutoriel en jeu.</p>
        </div>
    </div>

    <div class="bloc">
        <h2>Réalisation</h2>
        <p>
            Ce jeu a été réalisé lors de la <a href="https://itch.io/jam/mini-jam-69-hell" target="_blank">Mini Game Jam 128</a> en 2023.
        </p>
        <p>Nous avions 72 heures pour réaliser un jeu sur le thème "Health", avec la contrainte "The only way to go is up".</p>

        <p>Il s'agit du premier jeu que je réalise avec le moteur de jeux open source Godot. J'ai dessiné les graphismes avec Procreate à l'aide du crayon pour iPad. Tout est dessiné à la main.
        <p>La musique a été réalisée par <a href="https://soundcloud.com/congus-bongus">Congus Bongus</a> pour la game jam, un musicien qui développe aussi ses propres jeux vidéos.</p>
        
        <p>Le challenge était ici de changer de moteur de jeux. Après des années à utiliser Unity pour plein de projets, j'ai décidé de laisser sa chane au moteur open source qui a le vent en poupe : Godot Engine. L'expérience était très agréable et j'ai su m'en sortir pour réaliser ce jeu pendant 3 jours. Malheureusement, après d'autres essais avec le moteur, j'ai décidé que mes prochains projets seront réalisés avec Unity car j'y ai des bases solides avec des années de pratique.</p>
        <p>L'argument de l'open source reste cependant très fort, et me fera peut être retenter l'expérience Godot un jour...</p>
    </div>

    <div class="bloc">
        <h2>Jouer</h2>
        <ul>
            <li>Allez sur la <a href="https://augustin-janvier.itch.io/the-last-judgment" target="_blank">page itch.io
                    du
                    jeu</a>.</li>
            <li><i>Note: vous pouvez jouer directement sur le navigateur. Cependant j'ai constaté des problèmes de taille de l'écran qui rendent parfois le jeu injouable. Par conséquent, si vous souhaitez tester le jeu dans des conditions optimales, je conseille de le télécharger en suivant les étapes ci-dessous.</i></li>
            <li>Dans la section "Download", vous pouvez choisir le téléchargement Windows uniquement.</li>
            <li>Une fois le jeu téléchargé, dézippez l'archive où vous le souhaitez.</li>
            <li>Lancez le fichier exécutable "Up To Heaven".</li>
        </ul>
    </div>

    <div class="bloc">
        <h2>Captures d'écran</h2>

        <div class="screenshots">
            <a href="assets/screenshots/up-to-heaven-screenshot.jpeg" target="_blank">
                <img src="assets/screenshots/up-to-heaven-screenshot.jpeg" alt="Up To Heaven Screenshot">
            </a>
        </div>
    </div>
    <app-go-to path="/portfolio/video-games" text="Retour à la liste des projets."></app-go-to>

</article>