<p>Depuis de nombreuses années, je créé des jeux vidéos sur mon temps libre. Bien souvent, ce que j'entreprend reste au
    stade de prototype, faute de temps, motivation, ou toute autre raison farfelue auxquelles les développeurs solo sont
    habitués. J'ai cependant développé quelques petits jeux jouables dans le cadre de "Game Jam", des événments
    organisés par la communauté durant lesquels nous avons un temps défini pour réaliser un jeu suivant un thème et/ou
    des contraintes données.</p>
<p>Je réalise les jeux entièrement moi-même : graphismes & programmation... Parfois, je collabore avec des musiciens pour la partie musique & sons. Mais dans tous les cas, tout est fait maison !</p>
<p>Voici quelques jeux terminés que j'ai présenté lors de game jams durant de 3 à 7 jours. Vous pouvez cliquer sur
    les vignettes pour en savoir plus, et même essayer le jeu si vous le souhaitez !</p>
<div class="gallery">
    <div class="card">
        <img src="assets/miniatures/duck-business.jpeg" alt="Duck Business">
        <h3>Duck Business</h3>
    </div>
    <div class="card">
        <img src="assets/miniatures/space-shooter.jpeg" alt="Space Shooter">
        <h3>Space Shooter</h3>
    </div>
    <div class="card">
        <img src="assets/miniatures/the-last-judgment.jpeg" alt="The Last Judgment">
        <h3>The Last Judgment</h3>
    </div>
    <div class="card">
        <img src="assets/miniatures/up-to-heaven.jpeg" alt="Up To Heaven">
        <h3>Up To Heaven</h3>
    </div>
</div>