<article class="page-wrapper">

    <button [routerLink]="['/portfolio/video-games']" routerLinkActive="router-link-active" >Retour à la liste des projets</button>

    <h1>Duck Business</h1>

    <div class="content">
        <div class="miniature">
            <img src="assets/miniatures/duck-business.jpeg" alt="Duck Business">
            <a href="https://augustin-janvier.itch.io/duck-business" target="_blank">
                <span class="secondary">Jouer</span>
            </a>
        </div>
        <div class="bloc">
            <h2>Description</h2>
            <p>
                Vous venez de lancer un petit élevage de cannards dans la forêt. Votre objectif est de générer le plus d'argent
                possible avec ces véritables <s>poules</s> cannards aux oeufs d'or !
            </p>
            <p>Cliquez frénétiquement sur vos volailles afin de faire tomber les sous, vous permettant de débloquer de nouveaux
                cannards à l'apparence toujours plus fantastique !</p>
            <ul>
                <li>Découvrez 8 différents types de cannards.</li>
                <li>Transformez vos cannards en cannards dorés, puis en cannard magiques.</li>
                <li>Regardez votre business grandir pendant que vos cannards se promènent dans l'enclos.</li>
                <li>Une liste de succès à débloquer. Pourrez vous tous les obtenir ?</li>
                <li>Gagnez toujours plus de sous !</li>
            </ul>
        </div>
    </div>

    <div class="bloc">
        <h2>Réalisation</h2>
        <p>
            Ce jeu a été réalisé lors de la <a href="https://itch.io/jam/untitled-game-jam-37" target="_blank">Untitled Game Jam #37</a> en 2020.
        </p>
        <p>Nous avions 10 jours pour créer un jeu sur le thème "Duck", 34 personnes ont participé, et Duck Business a été classé
        5ème !</p>
        <p>J'ai réalisé ce jeu avec le moteur de jeu Unity 3D (code en C#). J'ai modélisé tous les décors et personnages moi même avec Blender, un logiciel de modélisation 3D open source que j'utilise depuis plusieurs années, qui m'a permis de concevoir rapidement des modèles 3D dans un style "Low poly" en un temps limité.</p>
        <p>Pour la musique et les sons, j'ai collaboré avec <a href="https://www.cadeconkle.com/" target="_blank">Cade Conkle</a>, un sound designer californien qui m'a proposé de réaliser les effets sonnores et musiques du jeu.</p>
        <p>Il s'agit du tout premier jeu que je publie sur <a href="https://itch.io/" target="_blank">itch.io</a>, un site web qui permet aux créateurs indépendants de jeux vidéo d'héberger et de distribuer leurs productions. A ce jour (mars 2024), le jeu comptabilise 200 téléchargements, ce qui est correct pour un petit jeu créé pour une game jam, et dont l'objectif était principalement de m'entraîner à terminer un jeu.</p>
    </div>

    <div class="bloc">
        <h2>Jouer</h2>
        <ul>
            <li>Allez sur la <a href="https://augustin-janvier.itch.io/duck-business" target="_blank">page itch.io du jeu</a>.</li>
            <li>Dans la section "Download", vous pouvez choisir le téléchargement Windows, Linux ou Mac.</li>
            <li>Une fois le jeu téléchargé, dézippez l'archive où vous le souhaitez.</li>
            <li>Lancez le fichier exécutable "Duck Business".</li>
        </ul>
    </div>

    <div class="bloc">
        <h2>Captures d'écran</h2>

        <div class="screenshots">
            <a href="assets/screenshots/duck-business-screenshot.jpeg" target="_blank">
                <img src="assets/screenshots/duck-business-screenshot.jpeg" alt="Duck Business Screenshot">
            </a>
        </div>
    </div>
    
    <button [routerLink]="['/portfolio/video-games']" routerLinkActive="router-link-active">Retour à la liste des
        projets</button>

</article>