@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Nunito;
    src: url(assets/fonts/Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: Comico;
    src: 
        url('assets/fonts/comico/Comico-Regular.woff2') format('woff2'),
        url('assets/fonts/comico/Comico-Regular.woff') format('woff'),
        url('assets/fonts/comico/Comico-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

:root {
    --primary: #E6C229;
    --secondary: #F17105;
    --tertiary: #D11149;
}

.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.tertiary {
    color: var(--tertiary);
}

.primary-filter {
    filter: brightness(0) saturate(100%) invert(88%) sepia(64%) saturate(3139%) hue-rotate(332deg) brightness(94%) contrast(91%);
}

.secondary-filter {
    filter: brightness(0) saturate(100%) invert(53%) sepia(55%) saturate(5646%) hue-rotate(9deg) brightness(105%) contrast(96%);
}

.tertiary-filter {
    filter: brightness(0) saturate(100%) invert(16%) sepia(53%) saturate(7487%) hue-rotate(335deg) brightness(84%) contrast(94%);
}

body {
    margin: 0;
    font-family: 'Nunito';
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

footer {
    margin-top: auto;
}

h1, h2 {
    font-family: 'Comico';
}

.page-wrapper {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}