<div class="page-wrapper">
    <h1>
        <span class="primary">Ensemble</span>, développons votre projet d'<span class="secondary">application</span> ou votre <span class="tertiary">site web</span>.
    </h1>

    <p>
        Je m'appelle Augustin Janvier, je suis ingénieur informatique spécialisé dans le développement d'applications web et
        mobile.
        Fort de mes 5 années d'étude et de mes 2 ans d'expérience en entreprise , je me suis lancé en Freelance en 2024 afin d'accompagner mes clients
        dans la réalisation de leurs projets digitaux.
    </p>

    <p>
        Vous souhaitez développer votre activité et avez besoin d'aide pour la réalisation de votre application mobile ou de votre site web ? 
        Vous avez besoin d'un développeur pour maintenir une application existante, implémenter de nouvelles fonctionnalités ou corriger des bugs ?
    </p>

    <p>
        Je développe mes applications avec Angular, un framework javascript puissant et répandu parmi les développeurs. 
        Couplé au framework Ionic, je peux, avec le même code, développer une application web, IOS et Android
    </p>

    <nav>
        <a [routerLink]="['/portfolio']" routerLinkActive="router-link-active">
            <img src="assets/icons/arrow-square-right.svg" alt="">
            <span>Découvrir mes projets.</span>
        </a>
    </nav>

</div>
