app-header {
    width: 100%;
    position: absolute;
    top: 0;
}

.page-wrapper {
    &.page-one {
        background-image: url(/assets/backgrounds/background.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 700px;
    }
    &.page-two {
        background-color: #d9d69a;
    }
    &.page-four {
        background-color: #d9d69a;
    }
}

.slide-one {
    .slogan {
            font-family: 'comico';
    
            span {
                font-weight: bold;
            }
        }
    
        h1 {
            padding-top: 60pxpx;
            max-width: 500px;
            text-align: center;
        }

        .devices {
            padding: 32px;
            width: 350px;
        }
}

.slide-two {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    .bubbles {
        display: flex;
    }
    .line {
        display: flex;
        justify-content: space-between;
    }
    .photo {
        margin-left: 32px;
        width: 320px;
        border-radius: 50%;
        border: 28px solid var(--tertiary);
    }
    .text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            max-width: 400px;
            font-size: 24px;
        }
    }
    .squares-container {
        padding-top: 64px;
        display: flex;
        justify-content: space-between;
        .square {
            max-width: 300px;
            padding: 16px;
            border-radius: 16px;
            &.square-one {
                background-color: var(--primary);
            }
            &.square-two {
                background-color: var(--secondary);
            }
            &.square-three {
                background-color: var(--tertiary);
            }
            h4 {
                text-align: center;
                font-size: 52px;
                margin: 0;
            }
            p {
                font-size: 24px;
                padding: 0 32px;
                text-align: center;
            }
        }
    }
}

.slide-three {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        width: 100%;
        padding-top: 0px;
        max-width: 500px;
        text-align: center;
    }
    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: 32px;
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 400px;
            padding: 16px;
            .logo-container {
                display: flex;
                width: 200px;
                height: 200px;
                justify-content: center;
                border-radius: 50%;
                border: 24px solid var(--tertiary);
                &.primary {
                    border-color: var(--primary);
                }
                &.secondary {
                    border-color: var(--secondary);
                }
                &.tertiary {
                    border-color: var(--tertiary);
                }
                align-items: center;
                img {
                    width: 100px;
                    height: 100px;
                }
            }
            h2 {
                font-family: 'comico';
                margin: 0px;
                font-size: 32px;
            }
            h3 {
                font-family: 'comico';
                font-weight: 100;
                margin: 0px;
            }
            p {
                margin: 0px;
                max-width: 300px;
            }
            
        }
    }
}

.slide-four {
    h1 {
        text-align: center;
    }
    p {
        padding: 0 160px;
    }
    a {

    }
    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
        .link-line {
            display: flex;
            column-gap: 8px;
    
            .icon {
                height: 20px;
            }
        }
    }
    

}

.page-transition {
    &.one-two {
        background-color: #d9d69a;
    }
    &.two-three {
        background-color: var(--background);
    }
    &.three-four {
        background-color: #d9d69a;
    }
}