<div class="page-wrapper">
    <div class="slogan">
        Développez vos <span class="primary">projets</span> de manière <span class="secondary">efficace</span> et <span class="tertiary">performante</span>.
    </div>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non nisl orci. Praesent eget sapien auctor,
        dapibus
        ligula sed, consectetur velit. Nam aliquet sem sit amet eleifend suscipit. Praesent quam turpis, dignissim non quam
        quis, tempor eleifend dui. In hac habitasse platea dictumst. Nulla a facilisis lacus, non dapibus lorem. Cras in
        elit
        enim. Etiam vel interdum sapien, ac vehicula orci. Integer viverra nunc vel neque consectetur elementum. Praesent
        vitae
        euismod velit. Aenean commodo quam ac libero ornare gravida. Aenean vel dictum mauris, eu vehicula velit.
        Suspendisse
        vitae malesuada est. Nam eget magna sed velit semper sodales non vitae ex. Nullam placerat nec elit at blandit.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non nisl orci. Praesent eget sapien auctor,
        dapibus
        ligula sed, consectetur velit. Nam aliquet sem sit amet eleifend suscipit. Praesent quam turpis, dignissim non quam
        quis, tempor eleifend dui. In hac habitasse platea dictumst. Nulla a facilisis lacus, non dapibus lorem. Cras in
        elit
        enim. Etiam vel interdum sapien, ac vehicula orci. Integer viverra nunc vel neque consectetur elementum. Praesent
        vitae
        euismod velit. Aenean commodo quam ac libero ornare gravida. Aenean vel dictum mauris, eu vehicula velit.
        Suspendisse
        vitae malesuada est. Nam eget magna sed velit semper sodales non vitae ex. Nullam placerat nec elit at blandit.
    </p>

</div>
