.home {
    background-image: url(/assets/backgrounds/header-waves.svg);
    background-size: 100%;
    background-repeat:no-repeat;
    padding-bottom: 32px;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            padding: 16px;
            height: 64px;
        }
        button {
            margin-right: 24px;
        }
    }
    .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }
        h1 {
            text-align: center;
            padding: 32px;
            max-width: 500px;
            .insist {
                color: black;
                text-shadow: 0px 5px var(--tertiary);

            }
        }
        img {
            max-width: 450px;
            width: 90vw;
            box-sizing: border-box;
        }
    }
}

.transition-arrow {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 64px;
    border: solid 4px var(--secondary);
    border-radius: 50%;
    transition: 0.3s;
    &:hover {
        cursor: pointer;
        border: solid 4px var(--primary);
        transition: 0.3s;

    }
}

.me {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 32px;
    padding-left: 8px;
    padding-right: 8px;
    img {
        max-height: 400px;
    }
    h3 {
        max-width: 600px;
    }


    .time-container {
        display: flex;
        flex-direction: column;
        .time-line {
            display: flex;
            padding: 8px;
            border-radius: 8px;
            background-color: var(--primary);
            transition: 0.3s;
            @media only screen and (max-width: 600px) {
                flex-direction: column;
            }
            &:hover {
                box-shadow: 0px 0px 8px black;
                transition: 0.3s;
            }
            .date {
                width: 120px;
                font-weight: bold;
                color: var(--tertiary);
            }
            .text {
                color: white;
            }
        }
        img {
            align-self: center;
            width: 50px;
        }
        button {
            width: fit-content;
            align-self: center;
        }
    }
    background-image: url(/assets/backgrounds/waves-bottom.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    padding-bottom: 32px;
}

.projects {
    background-color: var(--secondary);
    h2 {
        text-align: center;
        margin: 0;
        padding: 16px 0;
    }
    .cards-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 16px;
        padding: 16px 0;
        .card {
            max-width: 200px;
            background-color: var(--primary);
            color: white;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                padding: 8px;
                width: 95%;
                border-radius: 16px;
            }
            h3 {
                margin: 0;
            }
            p {
                margin: 4px;
            }
        }
    }
}

.contact {
    min-height: 400px;
    @media only screen and (max-width: 600px) {
        min-height: 0;
    }
    background-image: url(/assets/backgrounds/footer-waves.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 16px;
    padding-right: 16px;
    h2 {
        padding: 32px 0;
        margin: 0;
        text-align: center;
    }
    p {
        text-align: center;
    }
    .links-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: space-around;
        align-items: center;
        .link-card {
            border: solid 2px var(--primary);
            border-radius: 8px;
            padding: 4px 16px;
            display: flex;
            align-items: center;
            gap: 16px;
            width: 90%;
            max-width: 400px;
            min-width: fit-content;
            img {
                width: 50px;
            }
            &:hover {
                box-shadow: 0px 0px 8px black;
                transition: 0.1s;
                p {
                    color: white;
                    text-shadow: 0px 0px 8px black;
                    transition: 0.1s;
                }
            }
            transition: 0.1s;
        }
        a {
            text-decoration: none;
            color: var(--primary);
        }
    }
}