.slogan {
    font-family: 'comico';
    span {
        font-weight: bold;
    }
}

h1 {
    max-width: 700px;
    text-align: center;
}

a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 20px;
    }
    text-decoration: none;
    &:hover {
    filter: brightness(0) saturate(100%) invert(88%) sepia(64%) saturate(3139%) hue-rotate(332deg) brightness(94%) contrast(91%);    }
}

.buttons {
    padding-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    height: 320px;
    width: 100%;
    
    @media screen and (max-width: 700px) {
        width: 100%;
        height: auto;
        row-gap: 16px;
        flex-wrap: wrap;
    }
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    max-width: 800px;
    height: 300px;
    transition: 0.2s ease-in-out;
    border: 5px solid var(--primary);
    border-radius: 50%;
    &:hover {
        transition: 0.2s ease-in-out;
        width: 320px;
        height: 320px; 
        box-shadow: 0 5px 5px rgb(0, 0, 0, 0.15);
        cursor: pointer;
    }
    &.open {
        flex-direction: column;
        width: 100%;
        height: auto;
        border-radius: 16px;
        transition: 0.2s ease-in-out;
        padding: 16px;
        &:hover {
            transition: 0.2s ease-in-out;
            box-shadow: 0 5px 5px rgb(0, 0, 0, 0.15);
        }
    }
}

.text {
    font-size: 0px;
    transition: 0s;
    &.open {
        font-size: 16px;
        transition: 0.2s ease-in-out;
    }
}


img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
    &.open {
        width: 0;
        height: 0;
        transition: 0s;
    }
}

.click {
    font-family: 'comico';
    color: var(--secondary);
    position: absolute;
    z-index: 5;
    transform: translateX(150px) translateY(-100px);
    background-color: white;
    border: 3px solid var(--secondary);
    border-radius:  8px 8px 8px 0;
    padding: 4px;
    transition: 0.2s ease-in-out;
    &.open {
        transform: translateX(150px) translateY(-100px) scale(0);
    }
}