<div class="calendly">
    <a href="https://calendly.com/aug-j22/30min" target="_blank">
        <div class="widget">
            <img src="/assets/icons/calendar.svg" alt="Phone">
            <div class="text">Réserver un créneau</div>
        </div>
    </a>
</div>

<div class="home">
    <div class="header">
        <img class="logo primary-filter" src="/assets/logos/Logo.svg" alt="Logo">
        <button (click)="ScrollToSection('contact')">Me contacter</button>
    </div>
    <div class="content">
        <h1>
            <span class="insist">Ensemble</span>, développons votre projet d'<span class="insist">application</span> ou votre <span class="insist">site web</span>.
        </h1>
        <img src="/assets/images/graphisme-laptop.png" alt="Dessin de laptop">
    </div>
</div>

<div class="transition-arrow" (click)="ScrollToSection('me')" title="Continuer la navigation">
    <img src="/assets/icons/arrow-down.svg" alt="Arrow" class="secondary-filter">
</div>

<div class="me" id="me">
    <img src="/assets/photos/moi.png" alt="Moi">
    <div class="right-panel">
        <h3>
            Je suis Augustin Janvier, un ingénieur logiciel spécialisé dans le développement d'applications web & mobile.
        </h3>
        <div class="time-container">
            <div class="time-line">
                <div class="date">2016 - 2021</div>
                <div class="text">Etudes d'ingénieur informatique à l'INSA Rennes - BAC + 5</div>
            </div>
            <img src="/assets/icons/arrow-down.svg" alt="Arrow" class="primary-filter">
            <div class="time-line">
                <div class="date">2022 - 2024</div>
                <div class="text">2 ans d'expérience en tant qu'ingénieur logiciel chez Scania à Angers.</div>
            </div>
            <img src="/assets/icons/arrow-down.svg" alt="Arrow" class="primary-filter">
            <div class="time-line">
                <div class="date">Aujourd'hui</div>
                <div class="text">Développeur web & mobile en Freelance.</div>
            </div>
            <img src="/assets/icons/arrow-down.svg" alt="Arrow" class="primary-filter">
            <button [routerLink]="['/about']" routerLinkActive="router-link-active">En savoir +</button>
        </div>
    </div>
</div>

<div class="projects">
    <h2>Décrouvrez mes précédents projets</h2>
    <p>Cliquez sur une carte pour l'agrandir !</p>
    <div class="cards-container">

        <div class="card">
            <img src="/assets/miniatures/scania.jpeg" alt="CMR+">
            <h3>CMR+</h3>
            <p>Application web de gestion des contrats et factures de commandes de camions pour Scania France</p>
        </div>

        <div class="card">
            <img src="/assets/miniatures/twido_minia.jpeg" alt="MyTwido">
            <h3>MyTwido</h3>
            <p>Application mobile de gestion d'un chauffe-eau connecté</p>
        </div>

        <div class="card">
            <img src="/assets/miniatures/dinorpg.jpg" alt="Screnshot">
            <h3>Eternal Dino-RPG</h3>
            <p>Jeu en ligne open source développé par une communauté de développeurs passionnés</p>
        </div>

    </div>
</div>

<div class="contact" id="contact">
    <h2>Me contacter</h2>
    <div class="links-container">
        <a class="link-card" href="https://www.linkedin.com/in/augustin-janvier-16407112a/" target="_blank">
            <img src="/assets/icons/linkedin.webp" alt="LinkedIn">
            <p>Augustin Janvier</p>
        </a>

        <a class="link-card" href="mailto:contact@augustin-janvier.fr">
            <img src="/assets/icons/mail.png" class="primary-filter" alt="Mail">
            <p>contact&#64;augustin-janvier.fr</p>
        </a>

        <a class="link-card" href="https://calendly.com/aug-j22/30min">
            <img src="/assets/icons/calendar.svg" class="primary-filter" alt="Phone">
            <p>Réserver un créneau de 30 minutes</p>
        </a>
    </div>
</div>